<% include header.ejs %>
<div class="container">
	  <form class="form-horizontal" method="POST" action="/addEmailAd" class="form-horizontal">
  	     	<div class="control-group">

  	     		<!-- Text input-->
  	     		<label class="control-label" for="input01">国家</label>
  	     		<div class="controls">
  	     			<input type="text" placeholder="法国" class="input-xlarge" name="country">
  	     			<p class="help-block"></p>
  	     		</div>
  	     	</div>
		<div class="control-group">
		          <!-- Text input-->
		          <label class="control-label" for="input01">图片URL</label>
		          <div class="controls">
		            <input type="text" placeholder="" class="input-xlarge" name="url">
		            <p class="help-block"></p>
		          </div>
		        </div>
		    <div class="control-group">

		          <!-- Select Basic -->
		          <label class="control-label">角标</label>
		          <div class="controls">
		            <select class="input-xlarge" name="icon">
			      <option value="http://europely.com/wp-content/uploads/2015/10/icon-0.jpg">经典</option>
			      <option value="http://europely.com/wp-content/uploads/2015/10/icon-1.jpg">热门</option>
			      <option value="http://europely.com/wp-content/uploads/2015/10/icon-2.jpg">当季</option>
			      <option value="http://europely.com/wp-content/uploads/2015/10/icon-3.jpg">特色</option>
			      <option value="http://europely.com/wp-content/uploads/2015/10/icon-4.jpg">优惠</option>
		             </select>
		          </div>

		        </div>
		        <div class="control-group">

		          <!-- Text input-->
		          <label class="control-label" for="input01">城市</label>
		          <div class="controls">
		            <input type="text" placeholder="巴黎" class="input-xlarge" name="city">
		            <p class="help-block"></p>
		          </div>
		        </div>

		    <div class="control-group">

		          <!-- Text input-->
		          <label class="control-label" for="input01">路线</label>
		          <div class="controls">
		            <input type="text" placeholder="薰衣草田一日游" class="input-xlarge" name="line">
		            <p class="help-block"></p>
		          </div>
		        </div>
		        <div class="control-group">

		          <!-- Select Basic -->
		          <label class="control-label">收费模式</label>
		          <div class="controls">
		            <select class="input-xlarge" name="model">
			      <option>包车起价</option>
			      <option>起价</option>
			      <option>预约费</option>
			      <option>门票</option>
		              </select>
		          </div>

		        </div>
		        <div class="control-group">

		          <!-- Text input-->
		          <label class="control-label" for="input01">价钱</label>
		          <div class="controls">
		            <input type="text" placeholder="80欧/人" class="input-xlarge" name="price">
		            <p class="help-block"></p>
		          </div>
		        </div>
	  <button class="btn btn-success">Submiss</button>
      </form>
 </div>
<% include footer.ejs %>