<% include book_header.ejs %>
<div class="container">
  
  <div class="page-header">
     <% if (is_success) { %>
        <h4>非常感谢您的留言，我们会尽快回复</h4>
  </div>
  <div class="well">
   <a href='/'>返回首页</a>
  </div>
   <%} else {%>
    <h4>我们弄掉了你的留言，麻烦再填写一次，或者联系客服40084-50085 </h4>
  </div>
  <div class="well">
   <a href='/destination'>再填一次</a>
  </div>
   <%}%>
 
  
</div>
<% include book_footer.ejs %>