<% include header.ejs %>
<div class="container">
<form name="add_line" action = '/addLine' method="post" class="form-horizontal">
<fieldset>
      <div id="legend" class="">
        <legend class="">线路编辑</legend>
      </div>
    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">线路编号</label>
          <div class="controls">
            <input type="text" placeholder="AB111" class="input-xlarge" name="code">
            <p class="help-block">线路编号</p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">路线名称</label>
          <div class="controls">
            <input type="text" placeholder="一日游" class="input-xlarge" name="name_cn">
            <p class="help-block">路线名称</p>
          </div>
        </div>
    
     <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">国家</label>
          <div class="controls">
            <input type="text" placeholder="法国" class="input-xlarge" name="country">
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">

              <!-- Text input-->
              <label class="control-label" for="input01">Short-name</label>
              <div class="controls">
                <input type="text" placeholder="薰衣草田一日游" class="input-xlarge" name="short_name">
                <p class="help-block"></p>
              </div>
            </div>
    
    <div class="control-group">
              <!-- Text input-->
              <label class="control-label" for="input01">图片URL</label>
              <div class="controls">
                <input type="text" placeholder="" class="input-xlarge" name="pic_url">
                <p class="help-block"></p>
              </div>
            </div>

    <div class="control-group">

                      <!-- Select Basic -->
                      <label class="control-label">角标</label>
                      <div class="controls">
                        <select class="input-xlarge" name="icon_url">
                    <option value="http://europely.com/wp-content/uploads/2015/10/icon-0.jpg">经典</option>
                    <option value="http://europely.com/wp-content/uploads/2015/10/icon-1.jpg">热门</option>
                    <option value="http://europely.com/wp-content/uploads/2015/10/icon-2.jpg">当季</option>
                    <option value="http://europely.com/wp-content/uploads/2015/10/icon-3.jpg">特色</option>
                    <option value="http://europely.com/wp-content/uploads/2015/10/icon-4.jpg">优惠</option>
                         </select>
                      </div>

   
    <div class="control-group">
          <!-- Select Basic -->
        <label class="control-label">收费模式</label>
                  <div class="controls">
                    <select class="input-xlarge" name="model">
                <option>包车起价</option>
                <option>起价</option>
                <option>预约费</option>
                <option>门票</option>
                      </select>
                  </div>
      </div>

<div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">价钱</label>
          <div class="controls">
            <input type="number" placeholder="700" class="input-xlarge" name="price" >
          </div>
        </div>

<div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">城市</label>
          <div class="controls">
            <input type="text" placeholder="巴黎" class="input-xlarge" name="city">
            <p class="help-block"></p>
          </div>
        </div>

<div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">目的地</label>
          <div class="controls">
            <input type="text" placeholder="paris(In English)" class="input-xlarge" name="destination" >
           <p class="help-block">可以填写多个，用逗号隔开,provence,paris,Prague,nice,bordeaux,tour,paybas italy,germany,switzerland,czech</p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">网址</label>
          <div class="controls">
            <input type="text" placeholder="http://europely.com" class="input-xlarge" name="site">
            <p class="help-block">网址</p>
          </div>
        </div><div class="control-group">
          <label class="control-label">天数</label>

          <!-- Multiple Checkboxes -->
          <div class="controls">
      <!-- Inline Checkboxes -->
      <label class="checkbox-inline">
        <input type="radio" value="1" name="day">
        1
      </label>
      <label class="checkbox-inline">
        <input type="radio" value="2" name="day">
        2
      </label>
      <label class="checkbox-inline">
        <input type="radio" value="3" name="day">
        3
      </label>
      <label class="checkbox-inline">
        <input type="radio" value="4" name="day">
        4
      </label>
      <label class="checkbox-inline">
        <input type="radio" value="5" name="day">
        5
      </label>
      <label class="checkbox-inline">
        <input type="radio" value="6" name="day">
        6
      </label>
      <label class="checkbox-inline">
        <input type="radio" value="7" name="day">
        7
      </label>
      <label class="checkbox-inline">
        <input type="radio" value="8" name="day">
        8
      </label>
      <label class="checkbox-inline">
        <input type="radio" value="9" name="day">
        9
      </label>
      <label class="checkbox-inline">
        <input type="radio" value="10" name="day">
        10
      </label>
      </label>
      <label class="checkbox-inline">
        <input type="radio" value="11" name="day">
        10+
      </label>
  </div>
</div>

<div class="control-group">
          <label class="control-label">可用否</label>
          <div class="controls">

            <!-- Multiple Radios -->
            <label class="radio">
              <input type="radio" value="active" name="active" checked="checked">
              Yes
            </label>
            <label class="radio">
              <input type="radio" value="no_active" name="active">
              No
            </label>
          </div>

        </div>


    <div class="control-group">
          <!-- Button -->
          <div class="controls">
            <button class="btn btn-success">提交</button>
          </div>
        </div>

    </fieldset>
</form>
</div>
<% include footer.ejs %>