<% include book_header.ejs %>
<div class="container">
<div class="page-header">
<h4> 欢迎来到管理页面</h4>
</div>
 <ul class="list-group">
   <%if(power == 0) {%>
      <li class="list-group-item"><a href="/addUser"> 添加用户</a></li>
   <%}%>
   <li class="list-group-item"><a href="/source"> 客户来源统计</a></li>
   <li class="list-group-item"><a href="/lines"> 所有路线</a></li>
   <li class="list-group-item"><a href="/addLine"> 添加路线</a></li>
   <li class="list-group-item"><a href="/comments"> 所有留言</a></li>
   <li class="list-group-item"><a href="/notCheckComments"> 未回复留言</a></li>
   <li class="list-group-item"><a href="/showEmailAd"> 邮件广告</a></li>
 </ul>
</div>
<% include book_footer.ejs %>