<% include mobile_header.ejs %>
<div data-role="content" data-theme="a">
      <div class="container">
         <div class="page-header">
            <div class="alert alert-info"><strong>Hi，我是您的旅行顾问！为您提供： </strong><br />
             <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>  行程规划、贴身顾问、全程预订等服务<br /> <span class="glyphicon glyphicon-send" aria-hidden="true"></span>  来一次不拼团、零操心的自主旅行</div>
         </div>
	<div class="alert alert-success"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> 30秒了解您的需求</div>
              <div class="alert alert-success"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> 专业顾问推荐行程和价格</div>
              <a class="btn btn-primary" href='/destination'>选择我的目的地</a>
        </div>
   </div>
<% include footer.ejs %>