<% include mobile_header.ejs %>
<div data-role="content" data-theme="a">
       <div class="panel-heading">
         <strong>定制我的行程 </strong><small>旅行顾问服务</small><div class="pull-right"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 40084-50085</div>
       </div>