<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>

<link href="http://localhost:3000/Bootstrap.css" rel="stylesheet">
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="http://localhost:3000/jquery.mobile.structure-1.4.0.min.css" />
<link href="http://localhost:3000/jquery.mobile.icons.min.css" rel="stylesheet">

<script src="http://localhost:3000/jquery-1.8.2.min.js"></script>
<script src="http://localhost:3000/jquery.mobile-1.4.0.min.js"></script>

</head>
<body >
<div data-role="header" data-position="inline">
	<h1><%= title %></h1>
	<div data-role="navbar">
		<ul>
			<li><a href="/" data-icon="home">Home</a></li>
			<li><a href="/book" data-icon="star">Book</a></li>
			<li><a href="listviews.html" data-icon="grid">Lists</a></li>
			<li><a href="nav.html" data-icon="search">Nav</a></li>
			<li><a href="forms.html" data-icon="gear">Forms</a></li>
		</ul>
	</div>
</div>
