<% include mobile_header.ejs %>
<div data-role="content" data-theme="a">
  <h2>Forms</h2>
    <p>This page contains various progressive-enhancement driven form controls. Native elements are sometimes hidden from view, but their values are maintained so the form can be submitted normally. Browsers that don't support the custom controls will still deliver a usable experience because all are based on native form elements.</p>
</div>
<%include footer.ejs %>