<% include header.ejs %>
<div class="jumbotron">
  <p>亲爱的小伙伴，你是否迷路了，我们没有找到你想看的页面，你可以打电话 需求帮助<div class="alert alert-danger" role="alert">40084-50085</div>   </p>
  <a class="btn btn-primary btn-large" href="http://www.europely.com">回到主页</a>
</div>

 
<% include footer.ejs %>
